.content-wrapper {
  background-color: #353535;
  color: white;
}

.box{
  background-color: #444444;
}

.skin-blue .main-sidebar	{
  background-color: #222222;
}

.gauge .gauge-label {
    fill: white !important;
  }
  
  .gauge text {
    fill: white !important;
  }